{% include '_header.html.twig' %}
<main>
    <section>
        <article>
        {% for key,article in articles  %}
            <!--
             boucle for afin d'afficher les différents article
             -->
          <div class="actu">
              <div><img src="{{ article.image }}"></div>
              <a href="{{ path('article', { 'id': key }) }}">{{ article.title }}</a>
              <p>{{ article.content }}</p>
          </div>
        {% endfor %}
        </article>
    </section>
</main>
{% include '_footer.html.twig' %}